
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'paramount-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
    content: "\e900";
}
.icon-youtube:before {
    content: "\e901";
}
.icon-twitter:before {
    content: "\e902";
}
.icon-linkedin:before {
    content: "\e903";
}
.icon-facebook:before {
    content: "\e904";
}
.icon-instagram:before {
    content: "\e905";
}
.icon-phone:before {
    content: "\e906";
}
.icon-people-icon:before {
    content: "\e907";
}
.icon-money-icon:before {
    content: "\e908";
}
.icon-heart-icon:before {
    content: "\e909";
}
.icon-direct-office-icon:before {
    content: "\e90a";
}
.icon-toll-free-phone-icon:before {
    content: "\e90b";
}
.icon-location-icon:before {
    content: "\e90c";
}
.icon-house-icon:before {
    content: "\e90d";
}
.icon-family-icon:before {
    content: "\e90e";
}
.icon-employee-icon:before {
    content: "\e90f";
}
.icon-btn-icon:before {
    content: "\e910";
}
.icon-btn-icon-hover:before {
    content: "\e911";
}
.icon-paramount-icon-logo:before {
    content: "\e912";
}
.icon-paramount-icon-logoblue .path1:before {
    content: "\e913";
    color: rgb(28, 93, 181);
}
.icon-paramount-icon-logoblue .path2:before {
    content: "\e914";
    margin-left: -1.087890625em;
    color: rgb(0, 0, 0);
}
.icon-paramount-icon-logoblue .path3:before {
    content: "\e915";
    margin-left: -1.087890625em;
    color: rgb(28, 93, 181);
}
.icon-paramount-icon-logoblue .path4:before {
    content: "\e916";
    margin-left: -1.087890625em;
    color: rgb(40, 131, 235);
}
.icon-paramount-icon-logoblue .path5:before {
    content: "\e917";
    margin-left: -1.087890625em;
    color: rgb(28, 93, 181);
}
.icon-paramount-icon-logoblue .path6:before {
    content: "\e918";
    margin-left: -1.087890625em;
    color: rgb(28, 93, 181);
}
.icon-paramount-icon-logoblue .path7:before {
    content: "\e919";
    margin-left: -1.087890625em;
    color: rgb(0, 0, 0);
}
.icon-paramount-icon-logoblue .path8:before {
    content: "\e91a";
    margin-left: -1.087890625em;
    color: rgb(0, 0, 0);
}
